.card {
    margin: 7px;
    background-color: lightgrey;
    border-radius: 30px;
    box-shadow: inset -2px -2px 5px lightgray,
    inset 2px 2px 5px lightgray;
    background-image: url(/img/bumaznyi-fon.jpg);
    opacity: 0.8;
    display: flex;

}